<A NAME = "report_body"></A>
<MAP Name="modelmap">
<AREA Shape="Poly" coords = "149,522,155,522,155,557,149,557,149,522" HREF="Submodel3_Rel.htm#Rel46" ALT="">
<AREA Shape="Poly" coords = "152,554,152,560,275,560,275,554,152,554" HREF="Submodel3_Rel.htm#Rel46" ALT="">
<AREA Shape="Poly" coords = "272,557,278,557,278,662,272,662,272,557" HREF="Submodel3_Rel.htm#Rel46" ALT="">
<AREA Shape="Poly" coords = "434,545,440,545,440,557,434,557,434,545" HREF="Submodel3_Rel.htm#Rel47" ALT="">
<AREA Shape="Poly" coords = "437,554,437,560,377,560,377,554,437,554" HREF="Submodel3_Rel.htm#Rel47" ALT="">
<AREA Shape="Poly" coords = "374,557,380,557,380,662,374,662,374,557" HREF="Submodel3_Rel.htm#Rel47" ALT="">
<AREA Shape="Poly" coords = "262,225,268,225,268,237,262,237,262,225" HREF="Submodel3_Rel.htm#Rel48" ALT="">
<AREA Shape="Poly" coords = "265,234,265,240,152,240,152,234,265,234" HREF="Submodel3_Rel.htm#Rel48" ALT="">
<AREA Shape="Poly" coords = "149,237,155,237,155,347,149,347,149,237" HREF="Submodel3_Rel.htm#Rel48" ALT="">
<AREA Shape="Poly" coords = "970,164,976,164,976,333,970,333,970,164" HREF="Submodel3_Rel.htm#Rel38" ALT="">
<AREA Shape="Poly" coords = "1673,503,1679,503,1679,557,1673,557,1673,503" HREF="Submodel3_Rel.htm#Rel39" ALT="">
<AREA Shape="Poly" coords = "1676,554,1676,560,1569,560,1569,554,1676,554" HREF="Submodel3_Rel.htm#Rel39" ALT="">
<AREA Shape="Poly" coords = "1566,557,1572,557,1572,652,1566,652,1566,557" HREF="Submodel3_Rel.htm#Rel39" ALT="">
<AREA Shape="Poly" coords = "1062,537,1068,537,1068,569,1062,569,1062,537" HREF="Submodel3_Rel.htm#Rel40" ALT="">
<AREA Shape="Poly" coords = "1065,566,1065,572,1445,572,1445,566,1065,566" HREF="Submodel3_Rel.htm#Rel40" ALT="">
<AREA Shape="Poly" coords = "1442,569,1448,569,1448,652,1442,652,1442,569" HREF="Submodel3_Rel.htm#Rel40" ALT="">
<AREA Shape="Poly" coords = "970,537,976,537,976,652,970,652,970,537" HREF="Submodel3_Rel.htm#Rel41" ALT="">
<AREA Shape="Poly" coords = "1338,474,1344,474,1344,557,1338,557,1338,474" HREF="Submodel3_Rel.htm#Rel42" ALT="">
<AREA Shape="Poly" coords = "1341,554,1341,560,1101,560,1101,554,1341,554" HREF="Submodel3_Rel.htm#Rel42" ALT="">
<AREA Shape="Poly" coords = "1098,557,1104,557,1104,652,1098,652,1098,557" HREF="Submodel3_Rel.htm#Rel42" ALT="">
<AREA Shape="Poly" coords = "384,225,390,225,390,237,384,237,384,225" HREF="Submodel3_Rel.htm#Rel43" ALT="">
<AREA Shape="Poly" coords = "387,234,387,240,500,240,500,234,387,234" HREF="Submodel3_Rel.htm#Rel43" ALT="">
<AREA Shape="Poly" coords = "497,237,503,237,503,325,497,325,497,237" HREF="Submodel3_Rel.htm#Rel43" ALT="">
<AREA Shape="Poly" coords = "560,545,566,545,566,557,560,557,560,545" HREF="Submodel3_Rel.htm#Rel44" ALT="">
<AREA Shape="Poly" coords = "563,554,563,560,611,560,611,554,563,554" HREF="Submodel3_Rel.htm#Rel44" ALT="">
<AREA Shape="Poly" coords = "608,557,614,557,614,645,608,645,608,557" HREF="Submodel3_Rel.htm#Rel44" ALT="">
<AREA Shape="Poly" coords = "878,537,884,537,884,557,878,557,878,537" HREF="Submodel3_Rel.htm#Rel45" ALT="">
<AREA Shape="Poly" coords = "881,554,881,560,747,560,747,554,881,554" HREF="Submodel3_Rel.htm#Rel45" ALT="">
<AREA Shape="Poly" coords = "744,557,750,557,750,645,744,645,744,557" HREF="Submodel3_Rel.htm#Rel45" ALT="">
<AREA Shape="Rect" coords = "223,662,429,762" HREF="Tbl41.htm" ALT="AbonoDetalle">
<AREA Shape="Rect" coords = "21,347,283,522" HREF="Tbl31.htm" ALT="AbonoVenta">
<AREA Shape="Rect" coords = "855,81,1091,164" HREF="Tbl32.htm" ALT="Categoria">
<AREA Shape="Rect" coords = "204,21,449,225" HREF="Tbl34.htm" ALT="Cliente">
<AREA Shape="Rect" coords = "1382,652,1632,771" HREF="Tbl37.htm" ALT="DetalleSalida">
<AREA Shape="Rect" coords = "1206,396,1476,474" HREF="Tbl35.htm" ALT="Entrada">
<AREA Shape="Rect" coords = "908,652,1167,772" HREF="Tbl38.htm" ALT="EntradaDetalle">
<AREA Shape="Rect" coords = "834,333,1112,537" HREF="Tbl33.htm" ALT="Producto">
<AREA Shape="Rect" coords = "1565,367,1788,503" HREF="Tbl36.htm" ALT="Salida">
<AREA Shape="Rect" coords = "374,325,627,545" HREF="Tbl39.htm" ALT="Venta">
<AREA Shape="Rect" coords = "543,645,816,778" HREF="Tbl40.htm" ALT="VentaDetalle">
</MAP>


<IMG SRC="../SubmodelImages/3.jpg" USEMAP="#modelmap" BORDER="3" ALT="Submodel Main Model">
</BODY>
</HTML>
