<A NAME = "report_body"></A>
<MAP Name="modelmap">
<AREA Shape="Poly" coords = "91,306,97,306,97,268,91,268,91,306" HREF="Submodel2_Rel.htm#Rel19" ALT="">
<AREA Shape="Poly" coords = "94,265,94,271,82,271,82,265,94,265" HREF="Submodel2_Rel.htm#Rel19" ALT="">
<AREA Shape="Poly" coords = "79,268,85,268,85,226,79,226,79,268" HREF="Submodel2_Rel.htm#Rel19" ALT="">
<AREA Shape="Poly" coords = "160,392,160,398,216,398,216,392,160,392" HREF="Submodel2_Rel.htm#Rel20" ALT="">
<AREA Shape="Poly" coords = "213,395,219,395,219,604,213,604,213,395" HREF="Submodel2_Rel.htm#Rel20" ALT="">
<AREA Shape="Poly" coords = "216,601,216,607,284,607,284,601,216,601" HREF="Submodel2_Rel.htm#Rel20" ALT="">
<AREA Shape="Poly" coords = "951,524,957,524,957,396,951,396,951,524" HREF="Submodel2_Rel.htm#Rel21" ALT="">
<AREA Shape="Poly" coords = "954,393,954,399,867,399,867,393,954,393" HREF="Submodel2_Rel.htm#Rel21" ALT="">
<AREA Shape="Poly" coords = "864,396,870,396,870,269,864,269,864,396" HREF="Submodel2_Rel.htm#Rel21" ALT="">
<AREA Shape="Poly" coords = "647,334,653,334,653,388,647,388,647,334" HREF="Submodel2_Rel.htm#Rel22" ALT="">
<AREA Shape="Poly" coords = "650,385,650,391,853,391,853,385,650,385" HREF="Submodel2_Rel.htm#Rel22" ALT="">
<AREA Shape="Poly" coords = "850,388,856,388,856,269,850,269,850,388" HREF="Submodel2_Rel.htm#Rel22" ALT="">
<AREA Shape="Poly" coords = "577,247,577,253,541,253,541,247,577,247" HREF="Submodel2_Rel.htm#Rel23" ALT="">
<AREA Shape="Poly" coords = "538,250,544,250,544,239,538,239,538,250" HREF="Submodel2_Rel.htm#Rel23" ALT="">
<AREA Shape="Poly" coords = "541,236,541,242,490,242,490,236,541,236" HREF="Submodel2_Rel.htm#Rel23" ALT="">
<AREA Shape="Poly" coords = "343,472,349,472,349,411,343,411,343,472" HREF="Submodel2_Rel.htm#Rel24" ALT="">
<AREA Shape="Poly" coords = "346,408,346,414,424,414,424,408,346,408" HREF="Submodel2_Rel.htm#Rel24" ALT="">
<AREA Shape="Poly" coords = "421,411,427,411,427,319,421,319,421,411" HREF="Submodel2_Rel.htm#Rel24" ALT="">
<AREA Shape="Poly" coords = "986,408,986,414,543,414,543,408,986,408" HREF="Submodel2_Rel.htm#Rel25" ALT="">
<AREA Shape="Poly" coords = "540,411,546,411,546,440,540,440,540,411" HREF="Submodel2_Rel.htm#Rel25" ALT="">
<AREA Shape="Poly" coords = "604,577,604,583,653,583,653,577,604,577" HREF="Submodel2_Rel.htm#Rel26" ALT="">
<AREA Shape="Poly" coords = "650,580,656,580,656,581,650,581,650,580" HREF="Submodel2_Rel.htm#Rel26" ALT="">
<AREA Shape="Poly" coords = "653,578,653,584,702,584,702,578,653,578" HREF="Submodel2_Rel.htm#Rel26" ALT="">
<AREA Shape="Poly" coords = "610,334,616,334,616,430,610,430,610,334" HREF="Submodel2_Rel.htm#Rel27" ALT="">
<AREA Shape="Poly" coords = "613,427,613,433,658,433,658,427,613,427" HREF="Submodel2_Rel.htm#Rel27" ALT="">
<AREA Shape="Poly" coords = "655,430,661,430,661,542,655,542,655,430" HREF="Submodel2_Rel.htm#Rel27" ALT="">
<AREA Shape="Poly" coords = "658,539,658,545,702,545,702,539,658,539" HREF="Submodel2_Rel.htm#Rel27" ALT="">
<AREA Shape="Poly" coords = "284,664,284,670,227,670,227,664,284,664" HREF="Submodel2_Rel.htm#Rel28" ALT="">
<AREA Shape="Poly" coords = "224,667,230,667,230,671,224,671,224,667" HREF="Submodel2_Rel.htm#Rel28" ALT="">
<AREA Shape="Poly" coords = "227,668,227,674,170,674,170,668,227,668" HREF="Submodel2_Rel.htm#Rel28" ALT="">
<AREA Shape="Poly" coords = "91,484,97,484,97,533,91,533,91,484" HREF="Submodel2_Rel.htm#Rel29" ALT="">
<AREA Shape="Poly" coords = "94,530,94,536,105,536,105,530,94,530" HREF="Submodel2_Rel.htm#Rel29" ALT="">
<AREA Shape="Poly" coords = "102,533,108,533,108,573,102,573,102,533" HREF="Submodel2_Rel.htm#Rel29" ALT="">
<AREA Shape="Poly" coords = "604,509,604,515,1063,515,1063,509,604,509" HREF="Submodel2_Rel.htm#Rel30" ALT="">
<AREA Shape="Poly" coords = "1060,512,1066,512,1066,659,1060,659,1060,512" HREF="Submodel2_Rel.htm#Rel30" ALT="">
<AREA Shape="Poly" coords = "1039,508,1045,508,1045,588,1039,588,1039,508" HREF="Submodel2_Rel.htm#Rel31" ALT="">
<AREA Shape="Poly" coords = "1042,585,1042,591,1029,591,1029,585,1042,585" HREF="Submodel2_Rel.htm#Rel31" ALT="">
<AREA Shape="Poly" coords = "1026,588,1032,588,1032,659,1026,659,1026,588" HREF="Submodel2_Rel.htm#Rel31" ALT="">
<AREA Shape="Poly" coords = "284,537,284,543,119,543,119,537,284,537" HREF="Submodel2_Rel.htm#Rel32" ALT="">
<AREA Shape="Poly" coords = "116,540,122,540,122,503,116,503,116,540" HREF="Submodel2_Rel.htm#Rel32" ALT="">
<AREA Shape="Poly" coords = "119,500,119,506,28,506,28,500,119,500" HREF="Submodel2_Rel.htm#Rel32" ALT="">
<AREA Shape="Poly" coords = "25,503,31,503,31,352,25,352,25,503" HREF="Submodel2_Rel.htm#Rel32" ALT="">
<AREA Shape="Poly" coords = "28,349,28,355,141,355,141,349,28,349" HREF="Submodel2_Rel.htm#Rel32" ALT="">
<AREA Shape="Poly" coords = "138,352,144,352,144,226,138,226,138,352" HREF="Submodel2_Rel.htm#Rel32" ALT="">
<AREA Shape="Poly" coords = "604,645,604,651,692,651,692,645,604,645" HREF="Submodel2_Rel.htm#Rel33" ALT="">
<AREA Shape="Poly" coords = "689,648,695,648,695,396,689,396,689,648" HREF="Submodel2_Rel.htm#Rel33" ALT="">
<AREA Shape="Poly" coords = "692,393,692,399,761,399,761,393,692,393" HREF="Submodel2_Rel.htm#Rel33" ALT="">
<AREA Shape="Poly" coords = "758,396,764,396,764,103,758,103,758,396" HREF="Submodel2_Rel.htm#Rel33" ALT="">
<AREA Shape="Poly" coords = "761,100,761,106,944,106,944,100,761,100" HREF="Submodel2_Rel.htm#Rel33" ALT="">
<AREA Shape="Poly" coords = "1025,313,1031,313,1031,234,1025,234,1025,313" HREF="Submodel2_Rel.htm#Rel34" ALT="">
<AREA Shape="Poly" coords = "1028,231,1028,237,1032,237,1032,231,1028,231" HREF="Submodel2_Rel.htm#Rel34" ALT="">
<AREA Shape="Poly" coords = "1029,234,1035,234,1035,176,1029,176,1029,234" HREF="Submodel2_Rel.htm#Rel34" ALT="">
<AREA Shape="Poly" coords = "476,54,476,60,526,60,526,54,476,54" HREF="Submodel2_Rel.htm#Rel18" ALT="">
<AREA Shape="Poly" coords = "523,57,529,57,529,170,523,170,523,57" HREF="Submodel2_Rel.htm#Rel18" ALT="">
<AREA Shape="Poly" coords = "526,167,526,173,577,173,577,167,526,167" HREF="Submodel2_Rel.htm#Rel18" ALT="">
<AREA Shape="Rect" coords = "944,25,1063,176" HREF="Tbl16.htm" ALT="abono_venta">
<AREA Shape="Rect" coords = "34,76,201,226" HREF="Tbl15.htm" ALT="AbonoCompra">
<AREA Shape="Rect" coords = "348,21,476,92" HREF="Tbl17.htm" ALT="categoria">
<AREA Shape="Rect" coords = "986,313,1099,508" HREF="Tbl20.htm" ALT="clientes">
<AREA Shape="Rect" coords = "996,659,1130,854" HREF="Tbl28.htm" ALT="cuentasxcobrar">
<AREA Shape="Rect" coords = "41,573,170,768" HREF="Tbl27.htm" ALT="cuentasxpagar">
<AREA Shape="Rect" coords = "792,159,914,269" HREF="Tbl23.htm" ALT="detalle_salida">
<AREA Shape="Rect" coords = "284,472,409,735" HREF="Tbl21.htm" ALT="entrada">
<AREA Shape="Rect" coords = "358,158,490,319" HREF="Tbl24.htm" ALT="entrada_detalle">
<AREA Shape="Rect" coords = "577,139,723,334" HREF="Tbl18.htm" ALT="producto">
<AREA Shape="Rect" coords = "28,306,160,484" HREF="Tbl19.htm" ALT="proveedores">
<AREA Shape="Rect" coords = "864,524,969,651" HREF="Tbl22.htm" ALT="salidas">
<AREA Shape="Rect" coords = "483,440,604,720" HREF="Tbl25.htm" ALT="venta">
<AREA Shape="Rect" coords = "702,492,821,670" HREF="Tbl26.htm" ALT="venta_detalle">
</MAP>


<IMG SRC="../SubmodelImages/2.jpg" USEMAP="#modelmap" BORDER="3" ALT="Submodel Main Model">
</BODY>
</HTML>
